.cartItems {
  list-style: none;
  padding: 0.5rem 0;
  overflow: auto;
  max-height: 20rem;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total span {
  display: block;
  font-weight: bold;
  font-size: larger;
  padding: 0.5rem;
}

.total-amount {
  color: rgb(185, 69, 23);
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0.5;
  gap: 1rem;
}

.actions button {
  width: 7rem;
}

.cart-empty {
  color: darkgray;
  text-align: center;
}
